# Ignore everything
*

# But not these files...
!/.gitignore
!/.pre-commit-config.yaml

!*.go
!go.sum
!go.mod

!README.md
!LICENSE

!Makefile
!Dockerfile

!lsp_config.example.json
!.golangci.yml
!.goreleaser.yaml

!*.py
!*.sh

!.github/workflows/*
!docs/*
!docs/**/*

# ...even if they are in subdirectories
!*/

lsp_parsed/
# Added by goreleaser init:
dist/
